<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/cv']" routerLinkActive="active">Cvthéque</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/ms-word']" routerLinkActive="active">Ms-word</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="['/servers']">Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" [routerLink]="['/login']">Login</a>
    </li>
  </ul>